*{
    margin: 0;
    padding:0;
}
.container {
    display: grid;
     grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-template-rows:repeat(2,auto) ;
    background-color:grey;
    border:3px solid black;
    grid-column-gap: 2em;
    

}

.item{
    border-top: 1px solid #000000;
  
}

a{
    text-decoration: underline;
    color: #000
    ;
}

a:hover{
    color:maroon;
}
